<%- include('../partials/head'); %>
    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ========== Header ========== -->
            <%- include('../partials/header'); %>
            <!-- ========== Header End ========== -->

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('../partials/sidebar'); %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Call Logs</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item">Testing Company</li>
                                            <li class="breadcrumb-item active">Call Logs</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-4">
                                                <div>
                                                    <label for="example-datetime-local-input" class="form-label">Date and time</label>
                                                    <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" id="example-datetime-local-input">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="example-datetime-local-input" class="form-label">Date and time</label>
                                                    <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" id="example-datetime-local-input">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="col smslogsBtns">
                                                    Filter
                                                </div>
                                                <div class="col ">
                                                    <button type="submit" class="btn btn-primary widthFull">Filter Logs</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th class="dataTablesHeadText">Sr. #</th>
                                                    <th class="dataTablesHeadText">Name</th>
                                                    <th class="dataTablesHeadText">Number</th>
                                                    <th class="dataTablesHeadText">Country</th>
                                                    <th class="dataTablesHeadText">Total Calls</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>

                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>John Wick</td>
                                                    <td>+16182216061</td>
                                                    <td>US</td>
                                                    <td>33</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> 
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                <%- include('../partials/footer'); %>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->
        <%- include('../partials/right-sidebar'); %>
        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>
        <%- include('../partials/modal'); %>
<%- include('../partials/foot'); %>